.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.person_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    margin: 50px 50px;
}

.custom-img {
    max-width: 300px;
    max-height: 400px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header h1 {
    margin: 30px 0;
}
.header p {
    margin: 50px 400px;
}

.navbar, .navbar-default {
    padding: 10px 300px !important;
    justify-content:space-around !important; /* override background image gradient w/ flat color */
}
